{% extends "base.html" %}

{% block content %}
    <h2>{{title}}</h2><br>
    <form method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(class="form-control") }}<br>
            {% for error in form.name.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.animal_id.label }}<br>
            {{ form.animal_id(class="form-control") }}<br>
            {% for error in form.animal_id.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.photo.label }}<br>
            {{ form.photo(class="form-control") }}<br>
            {% for error in form.photo.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.about.label }}<br>
            {{ form.about(class="form-control") }}<br>
            {% for error in form.about.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>

        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </form>
{% endblock %}
